[user]
	name = Jason Goldfine-Middleton
	email = jrgoldfinemiddleton@gmail.com
[push]
	default = simple
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.d/security
[gpg]
	format = ssh
[commit]
	gpgsign = true
